.woo {
    box-shadow: 1px 1px 5px 1px #F38B34;
    border-radius: 20px;
    background-color: black;
    transition: all 0.3s ease-in-out;
    border: 1px solid #F38B34;
}

.woo:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.container#blur-wrapper.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

body{
    background-color: black;
    color:#F38B34;
    overflow-y: hidden;
}
#sitback{
    height: 480px;
}
/* .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
} */