.hoide {
    display: none;
}

.addnew {
    display: none;
}

/* .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
} */
tr{
    border-left:1px solid #F38B34;
    border-bottom:1px solid #F38B34;
    border-right :1px solid #F38B34;
    
}
body{
    background-color: black;
    color:#F38B34;
}

.card
{
    background-color: black;
    border:1px solid #F38B34;
}
.card-header{
    border-bottom:1px solid #F38B34;
}


.form-control{
    border:1px solid #F38B34;
}